[data]
  dockerhub_username = "{{ onepasswordRead "op://BigID/DockerHub - DevOps/username" }}"
  dockerhub_token = "{{ onepasswordRead "op://BigID/DockerHub - DevOps/password" }}"
  aws_account_id = "656782941097"
